/* Group 5 */
.products {
    /* width: 1274px; */
    /* height: 378px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* list */
.list {
    width: 1230px;
    /* height: 265px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;

}

/* Trending */
.head {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.product {

    width: 220px;
    height: 100%;
    background: rgba(33, 33, 35, 1);
    margin: 12px;
}

/* image */
.image {

    width: 100%;
    height: 256px;
    background-size: cover;
    border-radius: 6px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 8px;
}

.title {

    width: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;

}

.cat {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #B8B8B8;
}

.price {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    color: #576067;

}
